@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Spectral:wght@500;600&display=swap');

:root {
  --cor-texto: #EBF1FB;
  --cor-azul: #5EEAD4;
  --cor-preto: #0B0C0E;

  --fonte-primaria: 'Spectral', serif;
  --fonte-secundaria: 'Beth Ellen', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.principal {
  text-align: center;
  background: url(https://i.ibb.co/4t8bxh5/background-image.jpg) no-repeat center/cover;
  height: 100vh;
  display: grid;
  place-content: center;
  color: var(--cor-texto);
  font-family: var(--fonte-primaria);
}

.principal__titulo {
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 64px;
  line-height: 120px;
  color: var(--cor-texto);
}

h1 span {
  color: var(--cor-azul);
}

.principal__texto {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 4.5rem;
}

a {
  color: var(--cor-texto);
  padding: 1rem 2rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

a:hover,
.btn-primary {
  text-decoration: none;
  background-color: var(--cor-azul);
  border-radius: 0.5rem;
  color: var(--cor-preto);
}